<!--
   Licensed to the Apache Software Foundation (ASF) under one or more
   contributor license agreements.  See the NOTICE file distributed with
   this work for additional information regarding copyright ownership.
   The ASF licenses this file to You under the Apache License, Version 2.0
   (the "License"); you may not use this file except in compliance with
   the License.  You may obtain a copy of the License at

       http://www.apache.org/licenses/LICENSE-2.0

   Unless required by applicable law or agreed to in writing, software
   distributed under the License is distributed on an "AS IS" BASIS,
   WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
   See the License for the specpific language governing permissions and
   limitations under the License.
-->
<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Apache Compress</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    </head>
    <body>
        <h3>Seleziona il metodo ed inserisci il file da comprimere</h3>
        <form id="compressForm" method="POST" action="/compress" enctype="multipart/form-data">
            <input type="radio" name="actionType" value="tar"> Tar <br><br>
            <input type="radio" name="actionType" value="zip"> Zip <br><br>
            <input type="radio" name="actionType" value="gzip"> Gzip <br><br>
            <input type="radio" name="actionType" value="bzip2"> Bzip2 <br><br>

            <input type="file" id="fileToCompress" name="fileToCompress">
            <button type="submit">Upload</button>
        </form>

        <script>
            var form = document.getElementById('compressForm');
            var radioButtons = document.querySelectorAll('input[name="actionType"]');

            for (var i = 0; i < radioButtons.length; i++) {
                radioButtons[i].addEventListener('change', function() {
                    var selectedOption = document.querySelector('input[name="actionType"]:checked').value;
                    console.log(selectedOption)
                    form.action = "/compress/" + selectedOption;
                });
            }
        </script>
    </body>
</html>